.dashboard {
    padding: 0 35px;
    padding-top: 65px;
    .loader {
        padding-top: 65px;
    }
    h1 {
        text-align: center;
    }
    .create-first {
        text-align: center;
        a {
            font-weight: bold;
            color: #293241;
        }
    }
    .my-sites {
        display: flex;
        padding: 25px 0;
        gap: 24px;
        justify-content: center;
        flex-wrap: wrap;
    }
}
