.header {
    padding-right: 35px;
    padding-left: 35px;
    background-color: #fff;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    font-size: 1.2rem;
    border-bottom: 1px solid hsla(0, 0%, 78.4%, 0.8);
    height: 65px;
    box-shadow: 0 0px 8px 0 #00000036;
    z-index: 10;
    transition: 0.5s;

    .logo {
        font-size: 2.2rem;
        font-family: orbitron;
        transition: 0.5s;

        img {
            height: 40px;
            transition: 0.5s;
        }
        a {
            display: flex;
            align-items: center;
            gap: 10px;
            color: #1e8fe0;
            text-decoration: none;
            letter-spacing: 0.2rem;
        }
    }

    .links {
        height: 100%;
        &.active {
            right: 0;
        }
        .header-login-signup {
            font-size: 0.9rem;
            span {
                margin: 0 3px;
            }
            a:hover {
                @media screen and (min-width: 720px) {
                    box-shadow: unset;
                }
            }
        }
        button {
            height: fit-content;
            cursor: pointer;
            align-self: center;
        }
        .link {
            order: 1;
            &:not(:last-child) {
                margin-inline-end: 35px;
                @media screen and (max-width: 720px) {
                    margin-inline-end: 0;
                }
            }
        }
        a {
            text-decoration: none;
            font-family: montserrat;
            cursor: pointer;
            color: #293241;
            font-size: 1rem;

            &:hover,
            &.active {
                @media screen and (min-width: 720px) {
                    box-shadow: inset 0px -2px 0px 0px #0b6fb7;
                    transition: box-shadow 0.4s, color 0.2s;
                    font-weight: bold;
                }
            }
        }
        @media screen and (max-width: 720px) {
            display: flex;
            width: 140px;
            flex-direction: column;
            align-items: center;
            gap: 40px;
            position: fixed;
            right: -175px;
            top: 0;
            padding-block-start: 100px;
            background-color: #e9f5ffde;
            box-shadow: 0 0px 20px 0px #0000009e;
            transition: 0.7s;
        }
    }

    &.min {
        height: 30px;
        padding: 0 20px;
        background-color: #293241;
        .logo {
            font-size: 1.4rem;
            a {
                color: #ffffff;
            }
        }
        .hamb-icon {
            top: 0;
            right: 10px;
            div {
                width: 25px;
                height: 8px;
                border-block-end: 3px solid black;
                @media screen and (max-width: 720px) {
                    border-block-end: 3px solid white;
                }
            }
            &.active div:nth-child(1) {
                position: relative;
                top: -2px;
            }
            &.active div:nth-child(3) {
                position: relative;
                top: 2px;
            }
        }
        .links {
            .header-login-signup {
                color: #ffffff;
                a,
                span {
                    font-size: 0.9rem;
                }
                a:hover {
                    box-shadow: unset;
                }
            }
            a {
                color: #ffffff;
                font-size: 0.9rem;
                &.active,
                &:hover {
                    box-shadow: inset 0px -2px 0px 0px #ffffff;
                }
                @media screen and (max-width: 720px) {
                    font-size: 1.2rem;
                }
            }
            @media screen and (max-width: 720px) {
                background-color: #293241eb;
                padding-block-start: 50px;
            }
        }
    }

    .screen {
        display: none;
        position: fixed;
        background: #00000070;
        inset: 0;
        pointer-events: none;
        &.active {
            display: block;
            pointer-events: auto;
            cursor: pointer;
        }
    }
    .hamb-icon {
        display: none;
        flex-direction: column;
        justify-content: center;
        position: fixed;
        right: 50px;
        top: 15px;
        cursor: pointer;
        order: 0;
        div {
            width: 35px;
            height: 10px;
            border-block-end: 4px solid black;
            transition: 0.4s;
        }
        &.active div:nth-child(1) {
            transform: translateY(10px) translateX(-2px) rotate(-45deg);
        }
        &.active div:nth-child(2) {
            opacity: 0;
        }
        &.active div:nth-child(3) {
            transform: translateY(-10px) translateX(2px) rotate(45deg);
        }
        @media screen and (max-width: 720px) {
            display: flex;
        }
    }
}
