.header {
    padding-right: 35px;
    padding-left: 35px;
    background-color: #fff;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    font-size: 0.9375rem;
    border-bottom: 1px solid hsla(0, 0%, 78.4%, 0.8);
    height: 65px;
    box-shadow: 0 0px 8px 0 #00000036;
    z-index: 5;
    transition: 0.5s;

    .logo {
        font-size: 40px;
        font-family: courgette;
        transition: 0.5s;

        img {
            height: 40px;
            transition: 0.5s;
        }
        a {
            display: flex;
            align-items: center;
            gap: 10px;
            color: #1e8fe0;
            text-decoration: none;
        }
    }

    .links {
        height: 100%;
        .link {
            &:not(:last-child) {
                margin-inline-end: 25px;
            }
        }
        a {
            text-decoration: none;
            font-family: montserrat;
            cursor: pointer;
            color: #293241;

            &:hover,
            &.active {
                box-shadow: inset 0px -3px 0px 0px #0b6fb7;
                font-weight: bold;
            }
        }
    }

    &.min {
        height: 30px;
        .logo {
            font-size: 25px;
            img {
                height: 25px;
            }
        }
    }
    // img {
    //     mix-blend-mode: darken;
    // }
}
