.innersection {
    position: relative;
    flex-wrap: wrap;
    @media screen and (max-width:600px) {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }


    .debug & {
        border: 1px solid $innerSectionBorderColor;
    }
    .editor & {
        outline: $borderEditMode !important;
    }

}