.section {
    display: flex;
    position: relative;
    background-position: center;
    background-size: cover;
    padding: 0 calc(50% - 550px);
    
    .debug & {
        border: 1px solid $sectionBorderColor !important;
    }
 
    .columns {
        display: flex;
        padding: 20px 0;
        flex-grow: 1;
    }
    .innersections{
        display: flex;
        flex-grow: 1;
    }

    @media screen and (max-width:600px) {
        flex-direction: column;
    }

}