.section {
    display: flex;
    padding: 0;
    position: relative;
    background-size: cover;
    
    .debug & {
        border: 1px solid $sectionBorderColor;
    }

    .columns {
        display: flex;
        padding: 20px 0;
    }
}