.section {
    display: flex;
    position: relative;
    background-position: center;
    background-size: cover;
    padding: 0;
    padding: 20px 0;

    .debug & {
        border: 1px solid $sectionBorderColor !important;
    }
    .editor & {
        outline: $borderEditMode;
    }
    .columns {
        display: flex;
        padding: 20px 0;
        flex-grow: 1;
    }
    .innersections{
        display: flex;
        flex-grow: 1;
    }
}