.sidebar-add-component {
    .basics {
        padding: 16px;
        border-top: 1px solid rgba(0, 0, 0, 0.125);
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
        .side-bar-item {
            flex-grow: 1;
            width: 40%;
            margin-top: 0;
            height: unset;
            text-align: center;
        }
    }
}
