.social-icons{
    svg{
        background-color: rgba(20, 20, 20, 0.685);
        border-radius: 20%;
        padding: 5px; 
    }
    path{
        transition: fill .3s;
        width: 100%;
    }
}