.social-icons{
    .dribbble-icon{
fill:#000000;
 &:hover{
    fill:#ea4c89
}
    }
    .facebook-icon{
fill:#000000;
 &:hover{
    fill:#4267B2
}
    }
    .instagram-icon{
fill:#000000;
 &:hover{
    fill:#F77737
}
    }
    .github-icon{
fill:#000000;
 &:hover{
    fill:#3b3838
}
    }
    .twitter-icon{
fill:#000000;
 &:hover{
    fill:#1DA1F2
}
    }
    .linkedin-icon{
       fill:#000000;
        &:hover{
           fill:#0e76a8
       } 
    }
}