.home-features {
    margin-block-end: 50px;
    & > :nth-child(even) {
        background-color: #dceaf6;
    }
    & > :nth-child(odd) {
        background-color: aliceblue;
    }
    .feature {
        padding-block-start: 25px;
        padding-block-end: 25px;

        @media screen and (min-width: 970px) {
            padding-block-start: 50px;
            padding-block-end: 50px;
        }

        .feature-wrapper {
            flex-direction: column;
            @media screen and (min-width: 720px) {
                flex-direction: unset;
            }
        }
        img {
            width: 250px;
            order: 0;
            @media screen and (min-width: 720px) {
                order: unset;
            }
            @media screen and (min-width: 800px) {
                order: unset;
            }
            @media screen and (min-width: 970px) {
                width: 350px;
            }
        }
        .content {
            order: 1;
            @media screen and (min-width: 720px) {
                order: unset;
            }
            h3 {
                font-size: 1.4rem;
                text-transform: uppercase;
                @media screen and (min-width: 800px) {
                    font-size: 1.5rem;
                }
                @media screen and (min-width: 970px) {
                    font-size: 1.8rem;
                }
            }
            p {
                max-width: 30ch;
                font-size: 1rem;
                line-height: 1.5rem;
                @media screen and (min-width: 800px) {
                    font-size: 1.1rem;
                    line-height: 1.6rem;
                }
                @media screen and (min-width: 970px) {
                    max-width: 40ch;
                    font-size: 1.2rem;
                    line-height: 1.7rem;
                }
            }
        }
    }
}
