.home-top {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: calc(100vh - 65px);
    text-align: center;
    h1 {
        font-family: montserrat-medium;
        font-weight: 400;
        font-size: 2rem;
        color: #064a6b;
        max-width: 15ch;
        padding-top: 2rem;
        padding-bottom: 1em;
        margin: 0;
        @media screen and (min-width: 470px) {
            font-size: 2.5rem;
        }
        @media screen and (min-width: 800px) {
            font-size: 3rem;
        }
    }
    p {
        max-width: 30ch;
        font-size: 1.5rem;
        a {
            align-self: center;
            padding: 0.6em 2.1em;
            font-family: montserrat-medium;
            font-size: 1.2rem;
            color: #f5f5f5;
            text-decoration: none;
            border-radius: 10px;
            background-color: #1e8fe0;
            cursor: pointer;
            &:hover {
                background-color: #d96940;
            }
        }
        & > span {
            margin-block-end: 25px;
            .wixer {
                font-family: orbitron;
                color: #1e8fe0;
                letter-spacing: 0.1rem;
            }
        }
    }
    img {
        width: 300px;
        height: 145px;
        object-fit: cover;
        object-position: 0 45%;
    }
}
