* {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

body {
    font-family: montserrat;
    color: #293241;
}

.main-layout {
    max-width: 1100px;
    padding-inline-start: 35px;
    padding-inline-end: 35px;
    margin: auto;
}
