.flex {
    display: flex;

    &.direction-column {
        flex-direction: column;
    }
    &.justify-between {
        justify-content: space-between;
    }
    &.justify-center {
        justify-content: center;
    }
    &.justify-around {
        justify-content: space-around;
    }
    &.align-center {
        align-items: center;
    }
    &.wrap {
        flex-wrap: wrap;
    }
}

.clear-list {
    list-style: none;
    margin: 0;
    padding: 0;
}
<<<<<<< HEAD
=======

.clean-href{
    text-decoration: none;
}

.draggable{
    cursor: move;
}
>>>>>>> 3a6a69eef076028a0638969b176320b2620ad6a3
