.column {
    flex: 1 1;
    padding: 10px;
    position: relative;

    .editor & {
        outline: $borderEditMode;
    }

    .debug & {
        border: 1px solid $columnBorderColor !important;
    }
}