.component {
    padding: 10px;
    padding: 0.5rem 1rem;
    position: relative;

    .editor & {
        outline: $borderEditMode;
    }

    .component:focus{ 
        border-color: red;
    }
    &>.text{
        cursor: text;
    }
}